body{
background-color: rgb(255, 9, 132);
color: rgb(141, 1, 1);
}

section{
background-color: lightcoral;
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;
}
.chamada-texto{

    margin-right: 5%;
}